<p class="pageHeader">New Journalistt</p>

<form action="/journalists" method="post">
    <label for="username">Title:</label>
    <input class="inputbox" type="text" name="name" required="true">

    <input type="submit" value="Save" class="button">
</form>
<a href="/journalists" class="button center">Cancel</a>