<p class="pageHeader">Edit Journalist</p>

<form action="/journalists/$journalist.getId()" method="post">
    <label for="username">Username:</label>
    <input class="inputbox" type="text" name="username" required="true" value="$journalist.getUsername()">

    <input type="submit" value="Save" class="button">
</form>
<a href="/journalists/$journalist.getId()" class="button center">Cancel</a>