<p class="pageHeader">All Journalist</p>

<div class="container">
    <table>

        <tr>
            <th>Name</th>
            <th>Details</th>
        </tr>
        #foreach($journalist in $journalists)
        <tr>
            <td>$journalist.getName()</td>
            <td><a href="/journalists/$journalist.getId()">Details</a></td>
        <tr>
            #end
    </table>

    <a href="/journalists/new">Add a new Journalist</a>

</div>