<p class="pageHeader">All Articles</p>

<div class="container">
    <table>

        <tr>
            <th>Name</th>
            <th>Articles</th>
        </tr>
        #foreach($jounalist in $journalists)
        <tr>
            <td>$journalist.getName()</td>
            <td>$journalist.getArticles</td>
        <tr>
            #end
    </table>
</div>