<h2 class="newsPageTitle">$category news</h2>

<div>
    #foreach($article in $articles)
<div class="floating-box">
    <h5  class="heading">$article.getHeading()</h5>
    <div class="subheading">$article.getSubHeading()</div>
    <p class="articleDate">$article.returnCalenderasString()</p>
    <a href ="/news/$article.getId()" class="linktobody" >Full Story</a>
</div>
        #end
</div>
