<div>   <p class="newsPageTitle">$article.getHeading()</p>
    <p class="newsSubHeading">$article.getSubHeading()</p>
    <p class="articleDate">$article.returnCalenderasString()</p>
    <div class="articlebody">$article.getBodyArticle()</div>
    <p class="newsjournalist">Author: $article.getJournalist().getName()</p>

</div>