<!DOCTYPE html>
<html>
<head>
    <title>CCNewsWeb</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <h1>CCNEWS</h1>

    <ul>
    <li><a href="/news">Home</a></li>
    <li><a href="/news/sport">Sport</a></li>
    <li><a href="/news/currentaffairs">Current Affairs</a></li>
    <li><a href="/news/politics">Politics</a></li>
    <li><a href="/news/sciencenature">Science & Nature</a></li>
    <li><a href="/news/finance">Finance</a></li>
    </ul>
</head>
<body>

<!--<p>Logged in as: $user <a href="/logout">Logout</a></p>-->
<div class="container">
    #parse( $template )
</div>

</body>
</html>