<!DOCTYPE html>
<html>
<head>
    <title>CCNewsWeb</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <h1>CCNEWS</h1>
    <div class = "navbar"><a href="/">Home</a></div>
</head>
<body>

<!--<p>Logged in as: $user <a href="/logout">Logout</a></p>-->
<div class="container">
    #parse( $template )
</div>

</body>
</html>